body {
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 100;
  letter-spacing: .5px;
  margin: 50px auto;
  width: 90%;
}

a {
  color: #3fa9f5;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}

h1 {
  color: #1a1a1a;
  font-size: 54px;
  letter-spacing: -1px;
  margin: 0 0 .2em;
}

p {
  margin: 0;
}

form {
  margin: 48px 0 0;
  position: relative;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 500;
}

textarea {
  background-color: #fff;
  border: medium none;
  color: #a7a7a7;
  display: block;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 0;
  outline: none;
  padding: 10px 5px;
  width: 100%;
}

::-webkit-input-placeholder { color: #e6e6e6; padding-left: 10px;}
:-moz-placeholder { color: #e6e6e6; padding-left: 10px; }
::-moz-placeholder { color: #e6e6e6; padding-left: 10px; }
:-ms-input-placeholder { color: #e6e6e6; padding-left: 10px; }
